version: '3.8'

services:
  # --- BASE DE DATOS (PostGIS) ---
  postgres-global:
    image: postgis/postgis:16-3.4
    container_name: postgres-global
    restart: always
    environment:
      POSTGRES_DB: microservices_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: securepassword123
    ports:
      - "5433:5432" # Acceso directo de emergencia (Admin)
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - infra-net

  # --- PGBOUNCER (NUEVO) ---
  pgbouncer:
    image: edoburu/pgbouncer:latest
    container_name: pgbouncer-global
    restart: always
    depends_on:
      - postgres-global
    environment:
      # Credenciales para que PgBouncer hable con Postgres
      - DB_USER=admin
      - DB_PASSWORD=securepassword123
      - DB_HOST=postgres-global # Nombre del servicio de arriba
      - DB_PORT=5432            # Puerto INTERNO de docker
      - DB_NAME=microservices_db

      # Configuración de PgBouncer
      - LISTEN_PORT=6432
      - AUTH_TYPE=plain         # Para dev simplifica la vida
      - POOL_MODE=transaction   # EL MODO CLAVE PARA DJANGO
      - MAX_CLIENT_CONN=1000    # Acepta muchas conexiones de K8s
      - DEFAULT_POOL_SIZE=20    # Pero solo abre 20 a Postgres
    ports:
      - "6432:6432" # Este es el puerto al que apuntarán tus microservicios
    networks:
      - infra-net

  # --- MENSAJERÍA ---
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper-global
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - infra-net

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka-global
    restart: always
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://172.17.0.1:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    extra_hosts:
      - "host.k3d.internal:host-gateway"
    networks:
      - infra-net

  # --- CACHÉ ---
  redis:
    image: redis:alpine
    container_name: redis-global
    restart: always
    ports:
      - "6380:6379"
    networks:
      - infra-net

volumes:
  postgres_data:

networks:
  infra-net:
    driver: bridge
